// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$color-white: #FFF;


body{
    min-height: 100vh;    
    background-color: $color-white;
}

a{
    text-decoration: none;
}
.firstSection{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 455px;
    background-image: linear-gradient(to right top, #084196, #0075ce, #00a4cc, #00cc8d, #5eeb12);
    text-align: center;
}
.secondSection{
    height: 700px;
    background-color: $color-white;
    background: linear-gradient(#b2eafa, $color-white);
    // background-color: #7a562d;
}
.cuadrado{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fde917;
    border-radius: 5px;
    padding: 10px;
}

.card-landing{
    top: 100px;
    left: -100px;
    min-height: 130px;
    position: relative;
    border-radius: 20px;
    color: $color-white;
    font-size: 17px;
    background-color: #1f1f1f; 
    backdrop-filter: blur(3px);
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    border-left: solid 8px $color-white;
    margin: 5px;
}
.card-landing2{
    top: 100px;
    min-height: 130px;
    position: relative;
    border-radius: 20px;
    color: $color-white;
    font-size: 17px;
    background-color: #1f1f1f; 
    backdrop-filter: blur(3px);
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    border-right: solid 8px $color-white;
    border-bottom: solid 8px $color-white;
    margin: 8px;
}
.img-consulta{
    background-image: url("../../public/images/consulta.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    min-height: 500px;
}
.img-consulta2{
    background-image: url("../../public/images/data.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    min-height: 500px;
}
.img-consulta3{
    background-image: url("../../public/images/add.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    min-height: 500px;
}
.thirdSection{
    height: 600px;
    background: linear-gradient(#69a413, #fde916);
}
.fourSection{
    height: 600px;
    background: linear-gradient(#e2f1fd, #4caf50);

}
.fiveSection{
    height: 500px;
    background-color: #4CAF50;
}
// Scroll
::-webkit-scrollbar{
	background-color: rgb(230, 233, 229);
	width: 6px;
	height: 0px;
}

::-webkit-scrollbar:hover{
    width: 8px;
}

::-webkit-scrollbar-thumb{
	background: #373E43;
	border-radius: 20px;
	height: 10px;
}

::-webkit-scrollbar-thumb:hover{
	background: #0075ce;width: 6px;
}
.banner{
    background-image: url("../../public/images/banner.jpg");   
}
.main-card{
    top: 200px;
    position: relative;
    width: 400px;
    height: 220px;
    background-color: rgba(33, 32, 32, 0.8); 
    backdrop-filter: blur(9px);
    border-radius: 20px;
    margin: 7px;
}
.main-card:hover{
    height: 228px;
    background-color: rgba(54, 52, 52, 0.8);
    backdrop-filter: blur(2px);
    border-bottom: solid 8px $color-white;
}

.bg-violet{
    background-color: slateblue;
}
.contenedor-card{
    display: flex;
    margin: 100px;
    position: relative;
    padding: 20px;
    height: 344px;
    width: 590px;
    background-color: rgba(54, 52, 52, 0.6);
    backdrop-filter: blur(9px);
    border-radius: 20px;
    // box-shadow: -15px 8px 15px #a2a2a2;
}
.card-producto{
    position: relative;
    padding: 10px;
    height: 310px;
    width: 210px;
    background-color: #36383a;
    border-radius: 20px;
    border: solid 10px #525252;
    border-style: ridge;
}
.card-text{
    color: $color-white;
    font-weight: 700;
    font-size: 20px;
}
.mynavbar{
    background-color: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(9px);
}

.p{
    position: relative;
    top: 150px;
    text-align:center;
    color: $color-white;
    font-weight: 900;
    font-size: 17px;
}
.p:hover{
    font-size: 20px;
}
.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 175px;
    height: 170px;
    border-radius: 20px;
    background-color: #15c9e4;
    background-image: url("../../public/images/QR.png");
    object-fit: scale-down;
}
.img2{
    background-image: url("../../public/images/inventario.png");
    width: 228px;
}
.img3{
    background-image: url("../../public/images/farm.jpg");
    width: 255px;
}
.myrow{
    display: flex;
    flex-wrap: wrap;
    
}
.mydiv {    
    text-align: center;
}
.navtext{
    color: white !important;
}
.carta-inicio {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.bg-form{
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .bg-glass {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
  }
  
.upload-file{
    border: 2px dashed #e6ebf1;
    border-radius: 0.625rem;
    padding: 0 16px;
    background: 0 0;
    min-height: 220px;
    display: flex;
    align-items: center;
}
.formsito button{
    background: #43A047;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    min-width: 50%;         
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form-titulo{
    background-color: rgb(96, 190, 77);
}
.formsito{
    border-radius: 10px;
}
.content-div{
    display: flexbox;
    min-width: 100px;
    max-width: 700px;
}
.content-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    position: absolute;
    // background-image: url("../../public/images/3840x2561-px-agriculture-countryside-farm-field-landscape-1691351-wallhere.com.jpg");
    top:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    filter: blur(1px);
}
.div2{ 
    // background: radial-gradient(rgba(0, 0, 0, 0.3) , transparent);
    width: 100%;
    min-height: 100vh;
    max-height: max-content;

}
.navtext{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1.5px 1.5px black;
}
.navtext:hover{
    color:rgb(96, 190, 77);;
    cursor: pointer;
}
.tabla1{
    max-width: 100%;
    border-radius: 1em;
    border-collapse: collapse;
}
.tabla1 thead{
    text-align: center;
    background-color: rgb(96, 190, 77);
}
.tabla1 tbody{
    background-color: white;
}
.tabla1 td{
    width: 25%;
    text-justify: auto;
    vertical-align: middle;
    text-align: center;
}
.bottom-position{
    top: 500px;
    position: relative;
}
.botonsito{    
    margin-right: 1rem;
    margin-bottom: 0.4rem;
    width: 165px;
    border-radius: 5px;
}
.div-primerboton{
    margin-top: 50px;
    margin-left: 43%;
}
.Producto-cuerpo{
    background-color: transparent;
}
.Producto-cuerpo h3{
background-color: white;
font-size: 20px;
}
.Producto-cuerpo h2{
background-color: rgba(144, 238, 144);
}
.Producto-contenido{
font-family: 'Source Sans Pro', sans-serif;
}
.Producto-contenido ul{
    font-size: 25px;
    text-align: center;
}
.Producto-cuerpo div{
margin-bottom: 20px;
min-width: 45%;
}
.Producto-cuerpo-div{
border: 1px solid var(--bs-green);
background: linear-gradient(21deg, rgba(49,151,66,1) 7%, rgba(169,234,93,1) 28%, rgba(247,244,116,1) 41%, rgba(239,238,101,1) 51%, rgba(191,228,97,1) 66%, rgba(49,151,49,1) 100%);
font-family: 'Ubuntu', sans-serif;
font-weight: 600;
} 

.imagenQR{
    display: flex;
    margin: auto;
    background-color: $color-white;
    border-radius: 14px;
    width: 173px;
}

//vista para leer codigos QR
//etiqueta ul para las pestañas
.contenedorqr{
    text-align: center;
}
.contenedorqr .ul
{
	max-width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
//etiqueta li que son las pestañas
.contenedorqr .li
{
    padding: 1 em;
	margin: 0 0.2em 0 0;
	list-style:none;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px #FFFFFF solid;
    border-left: 2px rgb(96, 190, 77) solid;
    border-top: 2px rgb(96, 190, 77) solid;
    border-right: 2px rgb(96, 190, 77) solid;
    z-index: 2;
}
//cuando la pestaña esta activa
.contenedorqr .li.activo
{
	background-color: whitesmoke;
}
//div que contiene todas las pestañas
.contenedorqr .subcontenedor
{
    top: -19px;
	min-height: 18vh;
	position: relative;
    height: 430px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 2px rgb(96, 190, 77) solid;    
	padding: 2.5em;
    z-index: 1;
}
//div opciones que es cada pestaña aparte
.contenedorqr .opciones
{
	margin: 1em;
	top: 0;
	display: none;
    text-align: center;
}
//cuando la pestaña esta seleccionada
.contenedorqr .opciones.activo
{
	display: inline;
}
//etiqueta video
#preview{
	min-height:	300px;
    max-height: 400px;
	min-width: 90%;	
	max-width: 90%;
}  
.prueba{
    justify-items: center;
}