// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$color-white: #FFF;
$color-black: #16181a;
$color-green: #72e183;
$bg: #dde5d0;
$font-family: 'Nunito', sans-serif;

body{
    min-height: 100vh;    
    background-color: #05FF96;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23017143'/%3E%3Cstop offset='1' stop-color='%2305FF96'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%2303b86d'/%3E%3Cstop offset='1' stop-color='%2305FF96'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: $font-family;
}

a{
    text-decoration: none;
}

.section{
    display: flex;
}
.section-img{
    background: url("../../public/images/main-banner\ \(1\).jpg");
    height: auto;
    min-height: 560px;
    margin-top: -50px;
    width: 100%;
}
.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    color: $color-white;
    margin: 25% 0px 0px 30px;
    border-bottom: 4px solid #1acc8d;
}
.end{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image:  radial-gradient(#000000 1.5px, transparent 1.5px), radial-gradient(#000000 1.5px, #ffffff 1.5px);
    background-size: 60px 60px;
    background-position: 0 0,30px 30px;
    height: 100px;
    color: rgb(23, 23, 26);
    font-size: 27px;
    font-weight: 700;
    width: 80%;
    margin: -50px 0px 30px 0px;
    border-radius: 20px;
    box-shadow: 0px 4px 32px 9px rgba(0,0,0,0.1);
}

.section-card{
    margin: 40px;
    background-color: #ffffff;
    background-image:  radial-gradient(#000000 1.5px, transparent 1.5px), radial-gradient(#000000 1.5px, #ffffff 1.5px);
    background-size: 60px 60px;
    background-position: 0 0,30px 30px;
    width: 250px;
    height: 150px;
}

.firstSection{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-align: center;
}

.SectionOne{
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    justify-content: space-around;
    height: 300px;
}
.secondSection{
    margin-top: 50px;
    height: 600px;
    // background-color: $color-white;
    // background: linear-gradient(#b2eafa, #b1eaf7);
    // background-color: #7a562d;
}
.cuadrado{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fde917;
    border-radius: 5px;
    padding: 10px;
}

.card-landing{
    top: 100px;
    left: -100px;
    min-height: 130px;
    position: relative;
    border-radius: 20px;
    color: #002e3e;;
    font-size: 17px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    border: 1px solid;
    margin: 5px;
}
.card-landing:hover{
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.8);
    font-size: 18px;
    color: white;
    backdrop-filter: blur(10px);

    .cuadrado{
        background-color: #f6f6f6;
    }
}
.card-landing2{
    top: 100px;
    min-height: 130px;
    position: relative;
    border-radius: 20px;
    color: $color-white;
    font-size: 17px;
    background-color: #1f1f1f; 
    backdrop-filter: blur(3px);
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    border-right: solid 8px $color-white;
    border-bottom: solid 8px $color-white;
    margin: 8px;
}
.img-consulta{
    background-image: url("../../public/images/consulta.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    min-height: 500px;
}
.img-consulta2{
    background-image: url("../../public/images/data.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    min-height: 500px;
}
.img-consulta3{
    background-image: url("../../public/images/add.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    min-height: 500px;
    max-width: 750px;
}
.thirdSection{
    height: 600px;
    // background: linear-gradient(#69a413, #fde916);
    // background: linear-gradient(#b1eaf8, #acd543);
}
.fourSection{
    height: 600px;
    // background: linear-gradient(#acd543, #4caf50);

}
.fiveSection{
    height: 500px;
    // background-color: #4CAF50;
}
// Scroll
::-webkit-scrollbar{
	background-color: rgb(230, 233, 229);
	width: 6px;
	height: 0px;
}

::-webkit-scrollbar:hover{
    width: 8px;
}

::-webkit-scrollbar-thumb{
	background: #373E43;
	border-radius: 20px;
	height: 10px;
}

::-webkit-scrollbar-thumb:hover{
	background: #0075ce;width: 6px;
}
.banner{
    background-image: url("../../public/images/banner.jpg");   
}
.main-card{
    top: 100px;
    position: relative;
    width: 380px;
    height: 220px;
    background-color: rgba(33, 32, 32, 0.8); 
    backdrop-filter: blur(9px);
    border-radius: 20px;
    border-bottom: solid 8px $color-white;
}
.main-card:hover{
    background-color: rgba(54, 52, 52, 0.8);
    backdrop-filter: blur(2px);
}

.bg-violet{
    background-color: slateblue;
}
.contenedor-card{
    display: flex;
    margin: 100px;
    position: relative;
    padding: 20px;
    height: 344px;
    width: 590px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(9px);
    border-radius: 20px;
    -webkit-box-shadow: -17px 16px 15px -2px rgba(0,0,0,0.36); 
box-shadow: -17px 16px 15px -2px rgba(0,0,0,0.36);
    // box-shadow: -15px 8px 15px #a2a2a2;
}
.card-producto{
    position: relative;
    padding: 47px;
    height: 168px;
    width: 170px;
    border-radius: 20px;
    border: solid 10px #525252;
    border-style: ridge;
    background-color: #8dadcd;
    // position: relative;
    // padding: 10px;
    // height: 310px;
    // width: 210px;
    // border-radius: 20px;
    // border: solid 10px #525252;
    // border-style: ridge;
    // background-color: $color-black;
    // background-color: #02251a;
}
.card-text{
    color: $color-black;
    font-weight: 700;
    // font-size: 20px;
}

.cardP{
    width: 90%;
    height: 225px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
    backdrop-filter: blur(10px); /* Chrome and Opera */
    border-radius: 10px;
}

.cardP:hover{
    animation:shadow-drop-center 0.2s linear both;
}
.myfooter{
    background-color: $color-black; 
}
.mynavbar{
    background-color: $color-black; 
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
}

.p{
    position: relative;
    top: 150px;
    text-align:center;
    color: $color-white;
    font-weight: 900;
    font-size: 17px;
}
.p:hover{
    font-size: 20px;
}
.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 175px;
    height: 170px;
    border-radius: 20px;
    background-color: #15c9e4;
    background-image: url("../../public/images/QR.png");
    object-fit: scale-down;
}
.img2{
    background-image: url("../../public/images/inventario.png");
    width: 228px;
}
.img3{
    background-image: url("../../public/images/farm.jpg");
    width: 255px;
}
.imgUser{
    background-image: url("../../public/images/p\ \(2\).jpg");
    width: 150px;
    min-height: 225px;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 10px !important;
}
.imgPro{
    background-image: url("../../public/images/Bag.H03.2k\ \(1\).png");
    width: 208px;
    min-height: 208px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: rgba(2, 37, 26, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 13px;
}
.cardProducts2 {
    height: 331px;
    width: 265px;
    border-radius: 20px;
    background-color: #cef2ff;
}

.imgPro2{
    background-image: url("../../public/images/Cloth\ Bag.H03.2k\ \(1\).png");
    width: 208px;
    min-height: 208px;
    -o-object-fit: contain;
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: rgba(2, 37, 26, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 13px;
    backdrop-filter: blur(123px);
}

.cardProducts{
    height: 331px;
    width: 265px;
    border-radius: 10px 10px 0px 0px;
    backdrop-filter: saturate(180%) blur(10px);
}
.cardProducts:hover{
    animation:shadow-drop-center 0.2s linear both;
}
@keyframes shadow-drop-center{
    0%{box-shadow:0 0 0 0 transparent}
    100%{box-shadow:0 0 20px 0 rgba(21, 21, 21, 0.55)}
}
.footerCardProducts{
    position: relative;
    backdrop-filter: saturate(180%) blur(10px);
    background: rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    bottom: 0px;
    z-index: 1;
}
.myrow{
    display: flex;
    flex-wrap: wrap;
    
}
.mydiv {    
    text-align: center;
}
.navtext{
    color: white !important;
}
.carta-inicio {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.bg-form{
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#03a863, #017143);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#03a863, #017143);
    overflow: hidden;
  }

  .bg-glass {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
  }
  
.upload-file{
    border: 2px dashed #e6ebf1;
    border-radius: 0.625rem;
    padding: 0 16px;
    background: 0 0;
    min-height: 220px;
    display: flex;
    align-items: center;
}
.formsito button{
    background-color: #000;
    font-family: $font-family;
    text-transform: uppercase;
    outline: 0;
    min-width: 50%;         
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form-titulo{
    background-color: rgb(96, 190, 77);
}
.formsito{
    border-radius: 10px;
}
.content-div{
    display: flexbox;
    min-width: 100px;
    max-width: 700px;
}
.content-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    filter: blur(1px);
}
.div2{ 
    width: 100%;
    min-height: 100vh;
    max-height: max-content;

}
.navtext{
    color: $color-white;
    font-family: $font-family;
    font-size: 18px;
}
.navtext:hover{
    color:rgb(96, 190, 77);;
    cursor: pointer;
}
.tabla1{
    max-width: 100%;
    border-radius: 1em;
    border-collapse: collapse;
}
tr:hover{
 background-color: $color-white;
}
.tabla1 thead{
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}
.tabla1 tbody{
    background-color: #02251a;
    backdrop-filter: blur(20px);
}
.tabla1 td{
    width: 25%;
    text-justify: auto;
    vertical-align: middle;
    text-align: center;
    color: $color-white;
    font-size: 18px;
}
.bottom-position{
    top: 500px;
    position: relative;
}
.btn-success{
    background-color: #02251a;
}
.btn-warning{
    background-color: #cfc911;
}
.btn-danger{
    background-color: #550202;
}
.btn-ver{
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
}
.botonsito{    
    margin-right: 1rem;
    margin-bottom: 0.4rem;
    width: 165px;
    border-radius: 5px;
}
.div-primerboton{
    margin-top: 50px;
    margin-left: 43%;
}
.Producto-cuerpo{
    background-color: transparent;
}
.Producto-cuerpo h3{
background-color: white;
font-size: 20px;
}
.Producto-cuerpo h2{
background-color: rgba(144, 238, 144);
}
.Producto-contenido{
font-family: $font-family;
}
.Producto-contenido ul{
    font-size: 25px;
    text-align: center;
}
.Producto-cuerpo div{
margin-bottom: 20px;
min-width: 45%;
}
.Producto-cuerpo-div{
border: 1px solid var(--bs-green);
background: linear-gradient(21deg, rgba(49,151,66,1) 7%, rgba(169,234,93,1) 28%, rgba(247,244,116,1) 41%, rgba(239,238,101,1) 51%, rgba(191,228,97,1) 66%, rgba(49,151,49,1) 100%);
font-family: $font-family;
font-weight: 600;
} 

.imagenQR{
    border: 1px solid $color-black;
    display: flex;
    margin: auto;
    border-radius: 10px;
    width: 140px;
    border-style: ridge;
}

//vista para leer codigos QR
//etiqueta ul para las pestañas
.contenedorqr{
    text-align: center;
}
.contenedorqr .ul
{
	max-width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
//etiqueta li que son las pestañas
.contenedorqr .li
{
    padding: 1 em;
	margin: 0 0.2em 0 0;
	list-style:none;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
}
//cuando la pestaña esta activa
.contenedorqr .li.activo
{
    border: 2px rgba(0, 0, 0, 0.8) solid;
}
//div que contiene todas las pestañas
.contenedorqr .subcontenedor
{
    top: -19px;
	min-height: 18vh;
	position: relative;
    height: 430px;
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(9px);
    border-radius: 30px;
    border-bottom: 8px #2c2e2a solid;
	padding: 2.5em;
    z-index: 1;
}
//div opciones que es cada pestaña aparte
.contenedorqr .opciones
{
	margin: 1em;
	top: 0;
	display: none;
    text-align: center;
}
//cuando la pestaña esta seleccionada
.contenedorqr .opciones.activo
{
	display: inline;
}
//etiqueta video
#preview{
	min-height:	300px;
    max-height: 400px;
	min-width: 90%;	
	max-width: 90%;
}  
.prueba{
    justify-items: center;
}
.alert-light {
    background-color: #fefefe59;
    height: 54px;
    backdrop-filter: blur(1px);
    border: none;
}

// Responsive page home
@media only screen and (max-width: 600px){
    .main-card{
        margin-bottom: 72px;
    }
    .section-title{
        padding: 70px;
    }
    .SectionOne{
        height: 900px;
    }
    .main-card{
        width: 320px;
        margin: 0px 30px;
    }
    .p{
        padding: 10px;
        top: 136px;
    }
    .img-consulta{
        display: none;
    }
    .img-consulta2{
        display: none;
    }
    .img-consulta3{
        display: none;
    }
    .card-landing{
        margin: 5px 0px 5px -127px;
        width: 300px;
    }
    .card-landing2{
        margin: 5px 0px 5px 30px;
        width: 300px;
    }
    .cuadrado{
        margin: 33% 2px 0px 0px;
        height: 125px; 
    }
    .secondSection{
        height: 450px;
    }
    #logo-63{
        height: 105px;
        width: 83px;
        display: flex;
        justify-content: center;
    }
    #logo-58{
        height: 105px;
        width: 80px;
        display: flex;
        justify-content: center;
    }
    .fourSection{
        height: 559px;
        .cuadrado{
            display: none;
        }
        p{
            margin-left: -52px;
        }
    }
    .contenedor-card {
        display: flex;
        margin: 3px;
        position: relative;
        padding: 20px;
        height: 344px;
        width: 330px;
        background-color: rgba(255, 255, 255, 0.6);
        -webkit-backdrop-filter: blur(9px);
        backdrop-filter: blur(9px);
        border-radius: 20px;
        box-shadow: -17px 16px 15px -2px rgb(0 0 0 / 36%);
    }
    .card-producto {
        position: relative;
        padding: 30px;
        height: 140px;
        width: 140px;
        border-radius: 20px;
        border: solid 8px #525252;
        border-style: ridge;
        background-color: #8dadcd;
        top: 11px;
        left: 25%;
    }

    .imagenQR {
        border: 1px solid #16181a;
        display: flex;
        margin: auto;
        border-radius: 10px;
        width: 125px;
        border-style: ridge;
    }

    #btnstartscan{
        margin-top: -56px;
    }
    
    #btnendscan{
        margin-top: -10px;
    }
}