// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.mydiv {    
    text-align: center;
}
body{
    min-height: 100vh;    
}   
.carta-inicio {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formsito button{
    background: #43A047;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 50%;         
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form-titulo{
    background-color: rgb(96, 190, 77);
}
.formsito{
    border-radius: 10px;
}
.content-div{
    display: flexbox;
    min-width: 100px;
    max-width: 700px;
}
.content-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    position: fixed;
    background-image: url("../../public/images/3840x2561-px-agriculture-countryside-farm-field-landscape-1691351-wallhere.com.jpg");
    top:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    filter: blur(1px);
}
.div2{ 
    background: radial-gradient(rgba(0, 0, 0, 0.3) , transparent);
    width: 100%;
    min-height: 100vh;
    max-height: max-content;

}
.navtext{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1.5px 1.5px black;
}
.navtext:hover{
    color:rgb(96, 190, 77);;
    cursor: pointer;
}
.tabla1{
    border-radius: 1em;
    border-collapse: collapse;
}
.tabla1 thead{
    text-align: center;
    background-color: rgb(96, 190, 77);
}
.tabla1 tbody{
    background-color: white;
}
.tabla1 td{
    width: 25%;
    text-justify: auto;
    vertical-align: middle;
    text-align: center;
}
.botonsito{    
    margin-right: 10px;
    width: 165px;
}
.div-primerboton{
    margin-top: 50px;
    margin-left: 43%;
}
.Producto-cuerpo{
    background-color: transparent;
    text-align: center;
    width: 50rem;
  }
  .Producto-cuerpo h3{
    background-color: white;
    font-size: 20px;
  }
  .Producto-cuerpo h2{
    background-color: rgba(144, 238, 144);
  }
  .Producto-contenido{
    width: 50rem;
    margin-left: 21%;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .Producto-cuerpo div{
    margin-bottom: 20px;
  }
  .Producto-cuerpo-div{
    border: 1px solid var(--bs-green);
    background: linear-gradient(21deg, rgba(49,151,66,1) 7%, rgba(169,234,93,1) 28%, rgba(247,244,116,1) 41%, rgba(239,238,101,1) 51%, rgba(191,228,97,1) 66%, rgba(49,151,49,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
  }  
  .Producto-QR{
    background-color: whitesmoke;
  }
  .Producto-contenido ul{
    font-size: 25px;
    text-align: center;
  }

  